.sign__in{
    width: 100%;
   padding: 10% 30% 10% 30%;
   height: 100%;
}

.button{
    margin-left: 35%;
}

/* body {
    height:100vh; 
    margin:0;

  } */

  body{ 
    margin: 0; 
    height: fit-content;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }