
  .contain {
    margin-top: 10%
  }
  
  input:focus::placeholder {
    color: transparent;
  }
  
.dropdown {
  text-align:center;
  padding: 15px 10px 15px 5px;
  width: 100%;
  border:none;
  color: #555;
  border-radius: 20px;
  background:none;
  text-align: center;
}

.wrp{
width: 100vw;
height: 100vh;

}

.gfg-div {
  /* Login Card Width and height */
  width: 430px;
  height: 90% !important;
  background: #ebecf0;
  /* padding */
  padding: 10px 35px 15px 35px;
  margin:4% 0 45% 30%;
  border-radius: 35px;
  /* Box-shadow for 3d visualization*/
  box-shadow:
    -6px -6px 6px rgba(255, 255, 255, 0.8),
    6px 6px 6px rgba(0, 0, 0, 0.2);
}

.gfg-title {
  text-align: center;
  font-size: 34px;
  padding-top: 20px;
  letter-spacing: 0.5px;
  color:#ff4b2b;
}
.gfg-sub-title {
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
  letter-spacing: 3px;
  color: #5eaa77;
}
.gfg-input-fields {
  width: 100%;
  padding: 20px 5px 10px 5px;
  margin-top: 5%
}
.gfg-input-fields input {
/* To hide default browser options of input field */
  border: none;
  outline: none;
  /* Custom design for the input field */
  background: none;
  font-size: 18px;
  color: #555;
  padding: 15px 10px 15px 5px;
}
.gfg-email,
.gfg-password {
  margin-bottom: 20px;
  border-radius: 20px;
  /* Box-shadow for 3d */
  box-shadow: inset 5px 5px 5px #cbced1,
    inset -5px -5px 5px #ffffff;
}
.gfg-input-fields svg {
  height: 22px;
  margin: 0 10px -3px 25px;
}
.gfg-button {
/* To hide default browser options of input field */
  outline: none;
  border: none;
  /* Custom design for the Button */
  cursor: pointer;
  width: 100%;
  height: 90px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
  color: #fff;
  text-align: center;
  background-color: #ff4b2b;
  box-shadow: 7px 7px 8px #cbced1,
    -7px -7px 8px #ffffff;
  transition: 0.5s;
  align-items: center;
  text-align: center;
  padding-top: 4%;
}
.gfg-button:active {
  background: #4a9764;
}
.gfg-link {
  padding-top: 20px;
  text-align: center;
}
.gfg-link a {
  text-decoration: none;
  color: #aaa;
  font-size: 15px;
  transition: 0.5s;
}
.gfg-link a:hover {
  text-decoration: none;
  color: #67d18a;
  font-size: 15px;
}
